# =============== #
# Unity generated #
# =============== #
Temp/
Library/

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
obj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj
GameGroup8.sln
GameGroup8/GameGroup8.sln



# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
GameGroup8/GameGroup8.sln
GameGroup8/GameGroup8.sln
GameGroup8/Assets/saves/base.xml
GameGroup8/Assets/saves/monsters.xml
GameGroup8/Assets/saves/outside.xml
GameGroup8/Assets/saves/turrets.xml
GameGroup8/Assets/saves/sun.xml
GameGroup8/Assets/saves/Player.xml
GameGroup8/Assets/saves/moon.xml
GameGroup8/Assets/saves/world.xml
*.xml